[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = git@github.com:vim-ruby/vim-ruby.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-endwise"]
	path = bundle/vim-endwise
	url = git@github.com:tpope/vim-endwise.git
[submodule "bundle/bundle/vim-endwise"]
	path = bundle/bundle/vim-endwise
	url = git@github.com:tpope/vim-endwise.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = git@github.com:kien/ctrlp.vim.git
[submodule "bundle/vim-go"]
	path = bundle/vim-go
	url = git://github.com/fatih/vim-go.git
[submodule "bundle/editorconfig-vim"]
	path = bundle/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "bundle/auto-pairs"]
	path = bundle/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
[submodule "bundle/vim-textobj-user"]
	path = bundle/vim-textobj-user
	url = git@github.com:kana/vim-textobj-user.git
[submodule "bundle/vim-textobj-underscore"]
	path = bundle/vim-textobj-underscore
	url = git@github.com:lucapette/vim-textobj-underscore.git
[submodule "bundle/vim-textobj-rubyblock"]
	path = bundle/vim-textobj-rubyblock
	url = git@github.com:nelstrom/vim-textobj-rubyblock.git
